<%- include("header") -%>

  <main>
    <section class="video">
      <div class="heading">
        <h1 class="heading__title">
          <%= video.title %>
        </h1>
      </div>
      <div class="video">
        <div class="video__row">
          <div class="video__column">
            <div class="video__video">
              <video controls>
                <source src="<%= video.video %>" type="video/mp4">
              </video>
            </div>

            <div class="video__description">
              <%= video.description %>
            </div>

            <div class="video__related">

            </div>
          </div>
        </div>
      </div>
      <footer class="footing">
        <a href="/">Til baka</a>
      </footer>
    </section>
  </main>
  <%- include("footer") -%>